<div class="h-full flex gap-3" cdkDropListGroup cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="moveList($event)">
  @for (list of board.lists; track $index) {
    <app-task-card-list [list]="list" [listIndex]="$index" cdkDrag cdkDragPreviewContainer="parent" (mouseenter)="isList = true" (mouseleave)="isList = false">
      <div class="p-2 text-sm font-semibold flex gap-1" cdkDragHandle>
        <button (click)="showTitleInput($index, list.title)" class="{{listTitleEdit == $index? 'hidden' : ''}} w-full py-1 px-3 text-start border-2 border-transparent rounded-lg">{{list.title}}</button>
        <form class="{{listTitleEdit == $index? '' : 'hidden'}} w-full" [formGroup]="updateListTitleForm" (ngSubmit)="listTitleInput.blur()">
          <input #listTitleInput id="{{$index}}-title-input" formControlName="title" class="bg-cc-menu border-2 focus:border-cc-accent outline-none rounded-lg w-full py-1 px-3" type="text" (blur)="submitTitle(list)">
        </form>
        <app-list-options [board]="board" [list]="list" [listIndex]="$index"></app-list-options>
      </div>
      <div cdkMenu class="flex flex-col mx-1 px-1 py-[2px] gap-2 overflow-auto card-list" cdkDropList [cdkDropListData]="list" (cdkDropListDropped)="moveTask($event)">
        @for (card of list.cards; track $index) {
          <div cdkDrag cdkDragPreviewContainer="parent" class="shadow-sm shadow-black/20 rounded" (mouseenter)="isTask = true" (mouseleave)="isTask = false">
            <button cdkMenuItem (click)="setOpenedTask(card, list, $index)"
              class="text-sm py-2 group px-3 rounded-lg bg-cc-task-card flex w-full outline outline-2 outline-transparent hover:outline-cc-accent focus:outline-cc-accent">
              <div class="flex flex-col w-full gap-1">
                <p class="w-full text-start">{{card.title}}</p>
                @if (card.description) {
                  <app-text-icon dimensions="size-4"></app-text-icon>
                }
              </div>
              <div class="size-5 flex justify-center items-center">
                <app-pencil-icon dimensions="size-3" class="group-hover:visible group-focus:visible invisible text-cc-subtle"></app-pencil-icon>
              </div>
            </button>
            @if (isTask) {
              <div *cdkDragPlaceholder class="relative">
                <div class="text-sm py-2 group px-3 rounded-lg bg-cc-task-card flex w-full outline outline-2 outline-transparent hover:outline-cc-accent focus:outline-cc-accent">
                  <div class="flex flex-col w-full gap-1">
                    <p class="w-full text-start">{{card.title}}</p>
                    @if (card.description) {
                    <app-text-icon dimensions="size-4"></app-text-icon>
                    }
                  </div>
                  <div class="size-5 flex justify-center items-center">
                    <app-pencil-icon dimensions="size-3"
                      class="group-hover:visible group-focus:visible invisible text-cc-subtle"></app-pencil-icon>
                  </div>
                </div>
                <div class="absolute top-0 left-0 rounded-lg bg-cc-task-drop w-full h-full"></div>
              </div>
            }
          </div>
        }
      </div>
      @if (isList) {
        <div *cdkDragPlaceholder class="opacity-20 overflow-hidden max-h-full flex flex-col rounded-xl">
          <app-task-card-list [list]="list" [listIndex]="$index">
            <div class="h-full w-full absolute bg-black top-0 left-0"></div>
            <div class="flex p-2 text-sm font-medium">
              <p class="text-sm font-semibold py-2 px-3">{{list.title}}</p>
            </div>
            <div class="flex flex-col mx-1 px-1 gap-2 overflow-auto">
              @for (card of list.cards; track $index) {
                <div
                  class="text-sm py-2 group px-3 rounded-lg bg-cc-task-card flex w-full outline outline-2 outline-transparent hover:outline-cc-accent focus:outline-cc-accent">
                  <div class="flex flex-col w-full gap-1">
                    <p class="w-full text-start">{{card.title}}</p>
                    @if (card.description) {
                    <app-text-icon dimensions="size-4"></app-text-icon>
                    }
                  </div>
                  <div class="size-5 flex justify-center items-center">
                    <app-pencil-icon dimensions="size-3"
                      class="group-hover:visible group-focus:visible invisible text-cc-subtle"></app-pencil-icon>
                  </div>
                </div>
              }
            </div>
          </app-task-card-list>
        </div>
      }
    </app-task-card-list>
  }
</div>

<app-task-modal [taskList]="taskList" [taskIndex]="taskIndex"></app-task-modal>