<button
  [cdkMenuTriggerFor]="menu"
  class="{{boardPage && board? 'hover:bg-cc-boardpage-menu-hover aria-expanded:bg-cc-boardpage-menu-active aria-expanded:text-cc-boardpage-menu-text-active' : 'hover:bg-cc-overlay aria-expanded:bg-cc-accent-muted aria-expanded:text-cc-accent'}} px-3 text-sm rounded-sm h-full flex items-center gap-2">
  <span>Recent</span>
  <app-chevron-icon dimensions="size-3"></app-chevron-icon>
</button>
<ng-template #menu>
  <div class="w-[304px] mt-2 p-3 flex flex-col gap-1 bg-cc-menu rounded-xl border border-cc-border/15 shadow-xl shadow-cc-shadow"
    cdkMenu>
    @if (data.recent.length > 0) {
      @for (board of data.recent; track $index) {
        <a cdkMenuItem routerLink="board/{{board.workspaceId}}/{{board.boardId}}"
          class="flex gap-3 items-center p-1 hover:bg-cc-menu-item-hover rounded-md">
          <div class="min-w-10 h-8 rounded-sm {{(board | boardData).background}}"></div>
          <div class="text-cc-text overflow-hidden">
            <p class="truncate text-sm font-medium">{{(board | boardData).title}}</p>
            <p class="text-xs truncate text-cc-subtle">{{(board.workspaceId | workspaceData).title}}</p>
          </div>
        </a>
      }
    } @else {
      <p class="text-cc-subtle text-sm font-medium">No recent activity.</p>
    }
  </div>
</ng-template>