<button [cdkMenuTriggerFor]="menu"
  class="{{boardPage && board? 'bg-cc-boardpage-accent-menu hover:bg-cc-boardpage-accent-menu-hover aria-expanded:bg-cc-boardpage-accent-menu-expanded aria-expanded:text-cc-boardpage-accent-menu-text' : 'bg-cc-accent hover:bg-cc-accent-highlight aria-expanded:bg-cc-accent-muted aria-expanded:text-cc-accent'}} text-cc-base px-3 text-sm rounded-sm h-full flex items-center">
  <span>Theme</span>
</button>
<ng-template #menu>
  <div class="w-60 mt-2 py-3 flex flex-col bg-cc-menu rounded-xl border border-cc-border/15 shadow-xl shadow-cc-shadow text-sm text-cc-text font-medium" cdkMenu>
    <label for="light" class="flex items-center py-2 px-3 gap-3 cursor-pointer border-l-2 border-transparent hover:bg-cc-overlay has-[:checked]:bg-cc-accent-muted has-[:checked]:border-l-2 has-[:checked]:border-cc-accent">
      <input #light class="accent-cc-accent" id="light" type="radio" name="theme" [checked]="theme == 'light'" (change)="setTheme('light')">
      <div class="overflow-hidden rounded-md shadow">
        <app-theme-light></app-theme-light>
      </div>
      Light
    </label>
    <label for="dark" class="flex items-center py-2 px-3 gap-3 cursor-pointer border-l-2 border-transparent hover:bg-cc-overlay has-[:checked]:bg-cc-accent-muted has-[:checked]:border-l-2 has-[:checked]:border-cc-accent">
      <input #dark class="accent-cc-accent" id="dark" type="radio" name="theme" [checked]="theme == 'dark'" (change)="setTheme('dark')">
      <div class="overflow-hidden rounded-md shadow">
        <app-theme-dark></app-theme-dark>
      </div>
      Dark
    </label>
    <label for="system" class="flex items-center py-2 px-3 gap-3 cursor-pointer border-l-2 border-transparent hover:bg-cc-overlay has-[:checked]:bg-cc-accent-muted has-[:checked]:border-l-2 has-[:checked]:border-cc-accent">
      <input #system class="accent-cc-accent" id="system" type="radio" name="theme" [checked]="!theme" (change)="setTheme()">
      <div class="overflow-hidden rounded-md shadow">
        <app-theme-system></app-theme-system>
      </div>
      Match browser
    </label>
  </div>
</ng-template>
