<div #newList (mouseenter)="setBoardScroll(false)" (mouseleave)="setBoardScroll(true)">
  <form [formGroup]="newListForm" (ngSubmit)="formFunc()"
    class="{{listbuilder? 'flex' : 'hidden'}} min-w-[272px] text-sm gap-2 p-2 bg-cc-task-list flex-col rounded-xl text-cc-text">
    <input id="new-list-title-input" autofocus formControlName="title" type="text" aria-label="Enter list title"
      class="p-1 outline-none py-[6px] px-3 rounded-md border-2 border-cc-border/15 focus:border-cc-accent bg-cc-task-card font-semibold w-full"
      placeholder="Enter list title...">
    <div class="flex gap-1">
      <button type="submit" [disabled]="!newListForm.valid"
        class="py-[6px] px-3 font-semibold bg-cc-accent hover:bg-cc-accent-highlight text-cc-base rounded">Add
        list</button>
      <button type="button" aria-label="Cancel list editing" (click)="cancel()"
        class=" hover:bg-cc-task-list-btn w-8 flex justify-center items-center rounded">
        <app-xmark-icon dimensions="size-3"></app-xmark-icon>
      </button>
    </div>
  </form>
  <button
    class="{{listbuilder? 'hidden' : 'flex'}} min-w-[272px] p-3 bg-white/20 hover:bg-white/10 rounded-xl text-white flex gap-2 text-sm font-medium items-center"
    (click)="showListBuilder()">
    <app-plus-icon dimensions="size-3"></app-plus-icon>
    {{board.lists.length > 0? 'Add another list' : 'Add a list'}}
  </button>
</div>