<div class="h-full w-[272px] flex flex-col">
  <div class="bg-cc-task-list h-max rounded-xl text-cc-text overflow-hidden flex flex-col relative shadow-sm shadow-black/20" (mouseenter)="setBoardScroll(false)" (mouseleave)="setBoardScroll(true)">
    <ng-content></ng-content>
    <div #taskBuilder class="flex p-2 pt-[6px] text-sm font-medium">
      <form [formGroup]="newTaskForm" (ngSubmit)="createTask(list)" class="{{buildTask? 'flex' : 'hidden'}} w-full flex-col gap-2">
        <input id="{{listIndex}}-task-input" autofocus type="text" formControlName="title" placeholder="Enter a title for this card…"
          class="bg-cc-task-card outline-none pt-2 pb-7 px-3 rounded-lg w-full font-normal shadow-sm shadow-black/20">
        <div class="flex gap-1">
          <button type="submit" [disabled]="!newTaskForm.valid"
            class="py-[6px] px-3 font-semibold bg-cc-accent hover:bg-cc-accent-highlight text-cc-base rounded">Add
            card</button>
          <button type="button" aria-label="Cancel" (click)="createCancel()"
            class=" hover:bg-cc-task-list-btn w-8 flex justify-center items-center rounded">
            <app-xmark-icon dimensions="size-3"></app-xmark-icon>
          </button>
        </div>
      </form>
      <button (click)="showTaskBuilder()"
        class="{{buildTask? 'hidden' : 'flex'}} w-full py-2 px-3 text-start text-cc-subtle hover:bg-cc-task-list-btn rounded-lg gap-2 items-center">
        <app-plus-icon dimensions="size-3"></app-plus-icon>
        Add a card
      </button>
    </div>
  </div>
</div>
