<div class="{{board? board.base : ''}}">
  <nav id="nav-bar"
    class="{{boardPage && board? 'text-cc-boardpage-nav-text bg-cc-boardpage-nav-bg duration-200' : 'bg-cc-base text-cc-subtle'}} flex font-semibold justify-between p-2 border-b border-cc-border/15">
    <div class="flex gap-1">
      <a href="https://github.com/irmch" target="_blank" aria-label="Open the GitHub repository in a new tab"
        class="{{boardPage && board? 'hover:bg-cc-boardpage-menu-hover' : 'hover:bg-cc-overlay'}} flex items-center px-2 rounded-sm">
        <app-github-icon dimensions="size-5"></app-github-icon>
      </a>
      <a routerLink="/" class="{{boardPage && board? 'hover:bg-cc-boardpage-menu-hover' : 'hover:bg-cc-overlay'}} px-2 rounded-sm" aria-label="Back to home">
        <div id="trello-logo" class="{{boardPage && board? 'board-logo-filter' : 'logo-filter'}} w-[72px] h-8"></div>
      </a>
      <app-workspaces-dropdown [boardPage]="boardPage" [board]="board"></app-workspaces-dropdown>
      <app-recent-dropdown [boardPage]="boardPage" [board]="board"></app-recent-dropdown>
      <app-create-dropdown class="ms-3" [boardPage]="boardPage" [board]="board"></app-create-dropdown>
    </div>
    <app-theme-dropdown [boardPage]="boardPage" [board]="board"></app-theme-dropdown>
  </nav>
</div>