@if (board) {
  <div class="flex h-full overflow-hidden {{board.background}}" style="view-transition-name: board-transition">
    <app-board-sidebar [workspace]="workspace" [board]="board"></app-board-sidebar>
  
    <div class="bg-cc-board-filter duration-200 h-full w-full flex flex-col overflow-hidden pb-2">
  
      <!-- toolbar -->
      <div class="py-3 px-4 gap-4 min-h-[56px] bg-black/25 flex justify-between text-white">
        <div class="w-fit relative flex flex-col overflow-hidden">
          <button [attr.aria-hidden]="editTitle" (click)="editTitle = true; titleInput.focus(); titleInput.select()"
            class="{{editTitle? 'whitespace-pre -z-10' : 'z-0'}} focus:bg-white/15 w-full h-full px-2 text-white text-lg font-bold hover:bg-white/15 overflow-hidden truncate border-2 border-transparent rounded">{{boardTitleForm.getRawValue().title}}</button>
          <form [formGroup]="boardTitleForm" (ngSubmit)="titleInput.blur()" class="{{editTitle? 'z-0' : '-z-10 opacity-0'}} absolute w-full">
            <input [attr.aria-hidden]="!editTitle" [tabIndex]="editTitle? 1 : -1" (blur)="submitTitle()" #titleInput formControlName="title" type="text" id="board-title"
              class="w-full h-[32px] bg-cc-base border-2 border-cc-accent-highlight px-2 text-lg font-bold rounded outline-none text-cc-subtle">
          </form>
        </div>
        <button aria-label="Show menu"
          class="p-2 hover:bg-white/15 focus:bg-white/15 rounded {{(settings | async)? 'invisible' : 'visible'}}"
          (click)="setSettingsSidebar(true)">
          <app-menu-dots-icon dimensions="size-4"></app-menu-dots-icon>
        </button>
      </div>
  
      <!-- board -->
      <div id="board-content"
        class="flex gap-3 p-3 pb-2 flex-grow items-start overflow-x-auto min-w-full overflow-y-hidden"
        (mousedown)="ableToScroll? pointerScroll() : ''" (mouseenter)="setBoardScroll(true)">
        @if (board.lists.length > 0) {
          <app-board-dragdrop [board]="board"></app-board-dragdrop>
        }
        <app-new-list-form [workspaceId]="workspaceId" [boardId]="boardId" [board]="board"></app-new-list-form>
      </div>
  
    </div>
  
    <!-- setting sidebar -->
    <app-board-settings [board]="board" [workspace]="workspace"></app-board-settings>
  
  </div>
} @else {
  <p class="text-3xl text-cc-subtle/60 font-semibold mt-20 mx-auto">Page not found.</p>
}