<button [cdkMenuTriggerFor]="menu"
  class="{{boardPage && board? 'bg-cc-boardpage-accent-menu hover:bg-cc-boardpage-accent-menu-hover aria-expanded:bg-cc-boardpage-accent-menu-expanded aria-expanded:text-cc-boardpage-accent-menu-text' : 'bg-cc-accent hover:bg-cc-accent-highlight aria-expanded:bg-cc-accent-muted aria-expanded:text-cc-accent'}} text-cc-base px-3 text-sm rounded-sm h-full flex items-center gap-2">
  <span>Create</span>
</button>
<ng-template #menu>
  <div class="w-[304px] mt-2 py-3 flex flex-col bg-cc-menu rounded-xl border border-cc-border/15 shadow-xl shadow-cc-shadow" cdkMenu>
    @if (data.workspaces.length > 0) {
      <button cdkMenuItem (click)="showCreateBoardModal()" class="flex flex-col gap-1 py-2 px-3 hover:bg-cc-menu-item-hover">
        <span class="flex gap-2 items-center text-cc-text text-sm font-medium">
          <app-trello-icon dimensions="size-3"></app-trello-icon>
          Create board
        </span>
        <p class="text-xs text-start text-cc-subtle">A board is made up of cards ordered on lists. Use it to manage projects, track information, or organize anything.</p>
      </button>
    }
    <button cdkMenuItem (click)="showCreateWorkspaceModal()" class="flex flex-col gap-1 py-2 px-3 hover:bg-cc-menu-item-hover">
      <span class="flex gap-2 items-center text-cc-text text-sm font-medium">
        <app-users-icon dimensions="size-4"></app-users-icon>
        Create workspace
      </span>
      <p class="text-xs text-start text-cc-subtle">A Workspace is a group of boards and people. Use it to organize your company, side hustle, family, or friends.</p>
    </button>
  </div>
</ng-template>